{% load i18n %} 
{{ wizard.management_form }}
<div class="modal-footer">
   <button id="finish" type="submit"  class="btn btn-primary">{% trans "Pay" %}<span class="badge pull-right">&pound;{{ GBP_total }}.00</span>
    </button>
</div>
