<div class="form-group">
    <div class="col-sm-offset-2">
        <p class="form-control-static">Please note that you need to leave this field at "---Choose Receiver---" if you mean to create a <strong>New</strong> receiver.</p>
    </div>
</div>)
