{% if not user.is_active %}
<div class="form-group">
    <div class="col-sm-offset-2">
        <a href="#" id = 'sign-in-check' rel="popover" class="form-control-static text-warning" data-toggle="popover" data-title="Security Requirement" data-content=" You will be taken to Sign in/Sign up now. Relax you will be returned here for the next step. Click Submit to continue." data-placement="top">
    You are not signed in. <em class="text-info">Click for more info; click again to remove info</em>.
        </a>
    </div>
</div>
{% else %}
<div class="form-group">
    <div class="col-sm-offset-2">
        <a href="#" class="form-control-static text-primary" data-toggle="tooltip" data-title="Click Submit to continue" data-placement="top">
    Glad to have you {{ user.first_name|title }}. Please continue.</a>
    </div>
</div>{% endif %}
