<div class="form-group">
    <div class="col-sm-offset-3">
        <p class="form-control-static">
            Card details are encrypted and cannot be read by us or a third party.
            We use technology from <a href="http://stripe.com">Stripe</a>
        </p>
    </div>
</div>
