{% load i18n %} 
<div class="modal-footer">
{{ wizard.management_form }}
    {% if wizard.steps.prev %}
        <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}
        </button>
        <button class="btn btn-default" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}
        </button>{% endif %}
        <input id="finish" type="submit" value="{% trans "submit" %}" class="btn btn-primary"/>
</div>
