{% extends 'pay/index.html' %}

<!-- Modal HTML -->
{% block form_pay %}


{% block form_inner %}

{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{{ wizard.form.media }}

<script type="text/javascript">
    $(window).load(function () {
    $('#myModal').modal('show');
        
        
    $('#id_amount-amount').tooltip();
    
    });
    $(function () {
      $(document).on('click', "input[type=button].stay", function () {
                     $('[rel=popover]').popover('hide');
                     });
      
      $('[rel=popover]').popover({
                           html: true,
                           content: function () {
                           return $('.popover_container').html();
                           }
                           });
      
      });
                   
    </script>
<div class="modal fade" id="myModal" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
			<div class="modal-header bg-primary">
            <a class="btn btn-primary pull-right bg-primary text-danger cancel" data-original-title="<strong class='text-danger'>Changing Your Mind?</strong>" rel="popover">cancel</a>
			<h4 class="modal-title">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Amount to Send</h4>
			</div>
            
            <div class="modal-body">
                
			{{ wizard.management_form }}
            {% crispy form %}
            {% endblock %}
        </div>
		</div>
	</div>
</div>

<div class="popover_container" style="display:none">
    <div class="text-warning">
        It's not you it's us. Maybe you'd like to know more. Please visit our <a href='/help/' class="btn btn-s-xxs btn-default btn-rounded">Help</a> pages.
    </div>
    <div class="footer">
        <input type="button" value="Ok I'll Stay" class="btn btn-s-md btn-primary btn-rounded stay"</input>
        <a href={% if user.is_active %} '/mypage/' {% else %} {% url 'home' %} {% endif %} class="btn btn-s-md btn-danger btn-rounded">Cancel Anyway</a>
    </div>
</div>
{% endblock %}
{% block js %}
{% endblock %}

