{% extends "pay/amount.html" %}


{% block form_inner %}
{% load crispy_forms_tags %}
{% load humanize %}
{{ wizard.form.media }}

<script type="text/javascript">
    $(window).load(function () {
                   $('#myModal').modal('show');
              });
                   
                   $(function () {
                     $(document).on('click', "input[type=button].stay", function () {
                                    $('[rel=popover]').popover('hide');
                                    });
                     
                     $('[rel=popover]').popover({
                                                html: true,
                                                content: function () {
                                                return $('.popover_container').html();
                                                }
                                                });
                     
                     });
                     
    </script>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
          <div class="modal-header bg-primary">
            <a class="btn btn-primary pull-right bg-primary text-danger" data-original-title="<strong class='text-danger'>Changing Your Mind?</strong>" rel="popover">cancel</a>
            <h4 class="modal-title">Amount Confirmation &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="badge">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</span></h4>
          </div>

            <div class="modal-body">
             <form class="form-horizontal" method="post">
                 <div class="form-group">
                     <label class="col-sm-4 control-label text-primary">Amount to Send:</label>
                     <div class="col-sm-6">
                         <p class="form-control-static">You would like to send &pound;{{ input_amount|intcomma }}.00 </p>
                     </div>
                 </div>
      
            <div class="form-group">
                <label class="col-sm-4 control-label text-primary">Your Charge:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">For {% if payment_choice = 'bank' %} Bank Transfer {% elif payment_choice = 'card' %} Card Payment {% endif %} it's  &pound;{{ charge|intcomma }}.00</p>
                </div>
            </div>
      
            <div class="form-group">
                <label class="col-sm-4 control-label text-primary">Total Plus Charge:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">Your total payment will be &pound;{{ GBP_total|intcomma }}.00</p>
                </div>
            </div>
      
            <div class="form-group">
                <label class="col-sm-4 control-label text-primary">Naira Equivalent:</label>
                <div class="col-sm-6">
                    <p class="form-control-static">The receiver will get &#8358;{{ NGN_total|intcomma }}.00</p>
                </div>
            </div>
                {{ wizard.management_form }}
                {% crispy form %}
             </form>
            </div>
         </div>
        </div>
    </div>
<div class="popover_container" style="display:none">
    <div class="text-warning">
        It's not you it's us. Maybe you'd like to know more. Please visit our <a href='/help/' class="btn btn-s-xxs btn-default btn-rounded">Help</a> pages.
    </div>
    <div class="footer">
        <input type="button" value="Ok I'll Stay" class="btn btn-s-md btn-primary btn-rounded stay"</input>
        <a href={% if user.is_active %} '/mypage/' {% else %} {% url 'home' %} {% endif %} class="btn btn-s-md btn-danger btn-rounded">Cancel Anyway</a>
    </div>
</div>
{% endblock %}

