
{% extends "pay/amount.html" %}

{% block form_inner %}
{% load crispy_forms_tags %}
{% load humanize %}
{{ wizard.form.media }}

<script type="text/javascript">
    $(window).load(function () {
                   $('#myModal').modal('show');
                   });
                   $(function () {
                     $(document).on('click', "input[type=button].stay", function () {
                                    $('[rel=popover]').popover('hide');
                                    });
                     
                     $('[rel=popover]').popover({
                                                html: true,
                                                content: function () {
                                                return $('.popover_container').html();
                                                }
                                                });
                     
                     });
                     
    </script>
<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
            <div class="modal-header bg-primary">
                <a class="btn btn-primary pull-right bg-primary text-danger" data-original-title="<strong class='text-danger'>Changing Your Mind?</strong>" rel="popover">cancel</a>
                <h4 class="modal-title">That's it! &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span class="badge">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</span></h4>
            </div>

            <div class="modal-body">
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label class="col-sm-4 control-label text-success">Just to be sure:</label>
            <div class="col-sm-6">
                <p class="form-control-static">You have chosen to pay by Bank Transfer. </p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label text-success">Amount to Send:</label>
            <div class="col-sm-6">
                <p class="form-control-static">You are sending &pound;{{ input_amount|intcomma }}.00 </p>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-4 control-label text-success">Your Charge:</label>
            <div class="col-sm-6">
                <p class="form-control-static">For {% if payment_choice = 'bank' %} Bank Transfer {% elif payment_choice = 'card' %} Card Payment {% endif %} it's  &pound;{{ charge|intcomma }}.00</p>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-4 control-label text-success">Total Plus Charge:</label>
            <div class="col-sm-6">
                <p class="form-control-static">Your total payment will be &pound;{{ GBP_total|intcomma }}.00</p>
            </div>
        </div>
        
        <div class="form-group">
            <label class="col-sm-4 control-label text-success">Naira Equivalent:</label>
            <div class="col-sm-6">
                <p class="form-control-static">The receiver will get &#8358;{{ NGN_total|intcomma }}.00</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label text-success">All Correct?:</label>
            <div class="col-sm-8">
                <p class="form-control-static">Please pay <strong>&pound;{{ GBP_total|intcomma }}</strong> into the account below</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label text-success">Our Account:</label>
            <div class="col-sm-8">
                <p class="form-control-static">Kliasoft Ltd<br>
                Sort code: <strong>50271950</strong><br>
                Account number: <strong>200077</strong><br>
                 <em class="text-info">Be sure to quote this reference &nbsp; &nbsp;<span class="glyphicon glyphicon-arrow-right"></span></em><strong id='payment_id' class="text-info"> {{ payment_id }} </strong></p>
            </div>
        </div>
        {{ wizard.management_form }}
        {% crispy form %}
    </form>
            </div>
            <div class="popover_container" style="display:none">
                <div class="text-warning">
                    It's not you it's us. Maybe you'd like to know more. Please visit our <a href='/help/' class="btn btn-s-xxs btn-default btn-rounded">Help</a> pages.
                </div>
                <div class="footer">
                    <input type="button" value="Ok I'll Stay" class="btn btn-s-md btn-primary btn-rounded stay"</input>
                        <a href={% if user.is_active %} '/mypage/' {% else %} {% url 'home' %} {% endif %} class="btn btn-s-md btn-danger btn-rounded">Cancel Anyway</a>
                        </div>
            </div>
{% endblock %}
