
<!-- Modal HTML -->
{% extends 'pay/amount.html' %}
{% block form_inner %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}
{% load crispy_forms_tags %}
{{ wizard.form.media }}

<script type="text/javascript">
    $(window).load(function () {
                   $('#myModal').modal('show');
                   });
                   $(function () {
                     $(document).on('click', "input[type=button].stay", function () {
                                    $('[rel=popover]').popover('hide');
                                    });
                     
                     $('[rel=popover]').popover({
                                                html: true,
                                                content: function () {
                                                return $('.popover_container').html();
                                                }
                                                });
                     
                     });
                     
    $('#finish').click(function () {
                       document.getElementById("loading").style = "visibility: visible";
                       });
                     
    </script>

<!-- The required Stripe lib -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<!-- jQuery is used only for this example; it isn't required to use Stripe -->

<script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_FcOeKeRKwRYml6iWmT8P7ovi');
    
    var stripeResponseHandler = function(status, response) {
        var $form = $('#payment-form');
        
        if (response.error) {
            // Show the errors on the form
            $form.find('.payment-errors').text(response.error.message);
            $form.find('button').prop('disabled', false);
        } else {
            // token contains id, last4, and card type
            var token = response.id;
            // Insert the token into the form so it gets submitted to the server
            $form.append($('<input type="hidden" name="card-token" />').val(token));
            // and re-submit
            $form.get(0).submit();
        }
    };

jQuery(function($) {
       $('#payment-form').submit(function(e) {
                                 var $form = $(this);
                                 
                                 // Disable the submit button to prevent repeated clicks
                                 $form.find('button').prop('disabled', true);
                                 
                                 Stripe.createToken($form, stripeResponseHandler);
                                 
                                 // Prevent the form from submitting with the default action
                                 return false;
                                 });
       });
    </script>


<div id="myModal" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
            <div class="modal-header bg-primary">
                <a class="btn btn-primary pull-right bg-primary text-danger" data-original-title="<strong class='text-danger'>Changing Your Mind?</strong>" rel="popover">cancel</a>
                <h4 class="modal-title">That's it! <span class="badge">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</span></h4>
			</div>
            <div class="modal-body">
            <div class="pull-right" id="loading" style='visibility: hidden;'>
                <span class="text-info"> <em>Processing Request...</em></span>
              <img  src="{% static 'pay/loader2.gif' %}" />
            </div>
               <ul class="cards">
                    <li class="visa">Visa</li>
                    <li class="visa_electron">Visa Electron</li>
                    <li class="mastercard">MasterCard</li>
                    <li class="amex">American Express</li>
               </ul>
               <div class="form-group">
                   <label class="col-sm-4 control-label text-primary">Amount to Send:</label>
                   <div class="col-sm-6">
                       <p class="form-control-static">Sending <strong>&#8358;{{ NGN_total|intcomma }}.00</strong> i.e. &pound;{{ input_amount|intcomma }}.00 </p>
                   </div>
               </div><br><br>
                {% crispy form %}
            </div>
		</div>
	</div>
</div>
{% endblock %}
{% block js %}
{% endblock %}


