{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="">
<head>
  <meta charset="utf-8" />
  <title>RojjaMe</title>
  <meta name="description" content="send money to nigeria, send, money, nigeria, cheap, easily, bank account, direct to bank account" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <link rel="stylesheet" href="{% static 'note/css/bootstrap.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'note/css/animate.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'note/css/font-awesome.min.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'note/css/font.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'note/css/app.css' %}" type="text/css" />
  
  <link rel="stylesheet" href="{% static 'note/css/landing.css' %}" type="text/css" />
  <!--[if lt IE 9]>
    <script src="{% static 'note/js/ie/html5shiv.js' %}"></script>
    <script src="{% static 'note/js/ie/respond.min.js' %}"></script>
    <script src="{% static 'note/js/ie/excanvas.js' %}"></script>
  <![endif]-->
</head>

<body>
<!-- pay forms -->
    {% block form_pay %}
    
  	{% endblock %}
    
<!-- end pay forms -->
<div class="navbar-header text-center exchange-rate">

</div>

  <!-- header -->
  <header id="header" class="navbar navbar-fixed-top bg-white box-shadow b-b b-light"  data-spy="affix" data-offset-top="1">
    <div class="container">
      <div class="navbar-header">        
        <a href="#" class="navbar-brand "><img src= "{% static 'note/images/logo.png' %}" class="m-r-sm"><span class="text-muted">RojjaMe</span></a>
        <button class="btn btn-link visible-xs" type="button" data-toggle="collapse" data-target=".navbar-collapse">
          <i class="fa fa-bars"></i>
        </button>
        <p class="navbar-brand exchange-rate text-center">Rate &#8358; {{ exchange }} to &pound; 1</p>
    </div>

      <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active">
              <a href= "{% url 'home' %}">Home</a>
          </li>
          <li>
            <a href="#">Features</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          
          {% block login_logout %}
		  {% if user.is_active %}
        <li class="dropdown">
		<div class="m-t-sm"><a href="/login/" class="btn btn-link btn-sm dropdown-toggle" data-toggle="dropdown">
            <span class="thumb-sm avatar pull-left">
              <img src="{% static 'note/images/avatar_default.jpg' %}">
            </span>
            {{ user.first_name|title }} {{ user.last_name|title }} <b class="caret"></b>
          </a>
          <ul class="dropdown-menu animated fadeInRight">
            <span class="arrow top"></span>
            <li>
              <a href="#">Settings</a>
            </li>
            <li>
              <a href="/mypage">Profile</a>
            </li>
            <li>
              <a href="docs.html">Help</a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </li>
          {% else %}		  
          <li>
            <div class="m-t-sm"><a href="/login/" class="btn btn-link btn-sm">Sign in</a> <a href="/register/" class="btn btn-sm btn-success m-l"><strong>Sign up</strong></a>  </div>
			
          </li>
		 {% endif %}
         {% endblock %}
        </ul>	 
      </div>
    </div>
   </div>
  </header>
  {% block content %}
  <!-- / header -->
	<section id="content">
	  <div class="bg-primary dk">
      <div class="text-center wrapper">
        <div class="m-t-xl m-b-xl">
          <div class="text-uc h1 font-bold inline">
            <div class="pull-left m-r-sm text-white">Send Money to<span class="font-thin text-muted">Nigeria</span></div>
            <div class="carousel slide carousel-fade inline auto aside text-left pull-left pull-none-sm" data-interval="2000">
                <div class="carousel-inner">
                  <div class="item active text-warning">
                    Easy
                  </div>
                  <div class="item text-dark">
                    Fast
                  </div>
                  <div class="item">
                    Cheap
                  </div>
                </div>
            </div>
          </div>
          <div class="h4 text-muted m-t-sm">Send all your love to people at home and ...ehm anyone else really.</div>
        </div>
        <p class="text-center m-b-xl">
          <a href="/pay" id='send_button' class="btn btn-lg btn-warning b-white bg-empty m-sm">Send Now</a>
        </p>
      </div>
      <div class="padder">
        <div class="hbox">
          <aside class="col-md-3 v-bottom text-right">
            <div class="hidden-sm hidden-xs">
              <section class="panel bg-dark inline m-b-n-lg m-r-n-lg aside-sm no-border device phone animated fadeInLeftBig">
                <header class="panel-heading text-center">
                  <i class="fa fa-minus fa-2x m-b-n-xs block"></i>
                </header>
                <div>
                  <div class="m-l-xs m-r-xs">
                    <img src="{% static 'note/images/phone-2.png' %}" class="img-full" >
                  </div>
                </div>
              </section>
            </div>
          </aside>
          <aside class="col-sm-10 col-md-6">
            <section class="panel bg-dark m-b-n-lg no-border device animated fadeInUp">
              <header class="panel-heading text-left">
                <i class="fa fa-circle fa-fw"></i>
                <i class="fa fa-circle fa-fw"></i>
                <i class="fa fa-circle fa-fw"></i>
              </header>
              <img src="{% static 'note/images/main.png' %}" class="img-full" >
            </section>
          </aside>
          <aside class="col-md-3 v-bottom">
            <div class="hidden-sm hidden-xs">
              <section class="panel bg-light m-b-n-lg m-l-n-lg aside no-border device phone animated fadeInRightBig">
                <header class="panel-heading text-center">
                  <i class="fa fa-minus fa-2x text-white m-b-n-xs block"></i>
                </header>
                <div class="">
                  <div class="m-l-xs m-r-xs">
                    <img src="{% static 'note/images/phone-1.png' %}" class="img-full" >
                  </div>
                </div>
              </section>
            </div>
          </aside>
        </div>
      </div>
      <div class="dker pos-rlt">
        <div class="container wrapper">
          <div class="m-t-lg m-b-lg text-center">
            For your faster and easier payment to your loved ones or anyone for that matter.            
          </div>
        </div>
      </div>
    </div>
    <div id="about">
      <div class="container">
        <div class="m-t-xl m-b-xl text-center wrapper">
          <h3>From the comfort of your home</h3>
          <p class="text-muted">We know you know this. But let us give you a whole new experience. Take complete control. You can choose to pay by card or transfer to our account</p>
        </div>
        <div class="row m-t-xl m-b-xl text-center">
          <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="300">
            <p class="h3 m-b-lg">
              <i class="fa fa-lightbulb-o fa-3x text-info"></i>
            </p>
            <div class="">
              <h4 class="m-t-none">Or maybe you are on the go</h4>
              <p class="text-muted m-t-lg">Our interface is extremely user-friendly on mobile too! You'd think it was a native app!</p>
            </div>
          </div>
          <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="600">
            <p class="h3 m-b-lg">
              <i class="fa fa-signal fa-3x text-info"></i>
            </p>
            <div class="">
              <h4 class="m-t-none">Faster Payment</h4>
              <p class="text-muted m-t-lg">You've reciever does not need to go the bank and wait long hours. Let us pay directly into their accounts. Easy.</p>
            </div>
          </div>
          <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="900">
            <p class="h3 m-b-lg">
              <i class="fa fa-rocket fa-3x text-info"></i>
            </p>
            <div class="">
              <h4 class="m-t-none">Our Exchange Rates are excellent</h4>
              <p class="text-muted m-t-lg">You would need to shop around a whole lot before you can get an exchange rate that beats ours.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="responsive" class="bg-dark">
      <div class="text-center">
        <div class="container">
          <div class="m-t-xl m-b-xl wrapper">
            <h3 class="text-white">No matter where you are </h3>
            <p>You can use send money to Nigeria. <br>Anytime <span class="text-primary text-ul">on any device.</span></p>
          </div>
          <div class="row m-t-xl m-b-xl">
            <div class="col-sm-4 wrapper-xl" data-ride="animated" data-animation="fadeInLeft" data-delay="300">
              <p class="text-center h2 m-b-lg m-t-lg">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x text-dark"></i>
                  <i class="fa fa-mobile fa-stack-1x text-muted"></i>
                </span>
              </p>
              <p>Mobile</p>
            </div>
            <div class="col-sm-4 wrapper-xl" data-ride="animated" data-animation="fadeInLeft" data-delay="600">
              <p class="text-center h1 m-b-lg">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x text-dark"></i>
                  <i class="fa fa-tablet fa-stack-1x text-muted"></i>
                </span>
              </p>
              <p>Tablet</p>
            </div>
            <div class="col-sm-4 wrapper-xl" data-ride="animated" data-animation="fadeInLeft" data-delay="900">
              <p class="text-center h2 m-b-lg m-t-lg">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x text-dark"></i>
                  <i class="fa fa-desktop fa-stack-1x text-muted text-md"></i>
                </span>
              </p>
              <p>Desktop</p>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div id="newsletter" class="bg-white clearfix wrapper-lg">
      <div class="container text-center m-t-xl m-b-xl" data-ride="animated" data-animation="fadeIn">        
        <h2>Newsletter</h2>
        <p>Do not want to miss anything? Subscribe to our newsletter box</p>
        <form class="form-inline m-t-xl m-b-xl">
          <div class="form-group">
            <input class="form-control input-lg" placeholder="Your email" data-ride="animated" data-animation="fadeInLeftBig" data-delay="300">
          </div>
          <button type="submit" class="btn btn-default btn-lg" data-ride="animated" data-animation="fadeInRightBig" data-delay="600">Subscribe</button>
        </form>
      </div>
    </div>
	</section>
    {% endblock %}
  
  <!-- footer -->
  <footer id="footer">
      {% block footer %}
    <div class="bg-primary text-center">
      <div class="container wrapper">
        <div class="m-t-xl m-b">
          For your faster and easier payment to Naija.
         
          <a href="/pay" class="btn btn-lg btn-warning b-white bg-empty m-sm">Send Now</a>
        </div>
      </div>
      <i class="fa fa-caret-down fa-4x text-primary m-b-n-lg block"></i>
    </div>
      {% endblock %}
    <div class="bg-dark dker wrapper">
      <div class="container text-center m-t-lg">
        <div class="row m-t-xl m-b-xl">
          <div class="col-sm-4" data-ride="animated" data-animation="fadeInLeft" data-delay="300">
            <i class="fa fa-map-marker fa-3x icon-muted"></i>
            <h5 class="text-uc m-b m-t-lg">Find Us</h5>
            <p class="text-sm">56 Commerce Street, Aberdeen<br>
				AB11 5FP<br>
				— UNITED KINGDOM
             </p>
          </div>
          <div class="col-sm-4" data-ride="animated" data-animation="fadeInUp" data-delay="600">
            <i class="fa fa-envelope-o fa-3x icon-muted"></i>
            <h5 class="text-uc m-b m-t-lg">Mail Us</h5>
            <p class="text-sm"><a href="#">info@rojja.me</a></p>
          </div>
          <div class="col-sm-4" data-ride="animated" data-animation="fadeInRight" data-delay="900">
            <i class="fa fa-globe fa-3x icon-muted"></i>
            <h5 class="text-uc m-b m-t-lg">Join Us</h5>
            <p class="text-sm">Send your resume to <br><a href="mailto:hey@example.com">recruit@rojja.me</a></p>
          </div>
        </div>
        <div class="m-t-xl m-b-xl">
          <p>
            <a href="#" class="btn btn-icon btn-rounded btn-facebook bg-empty m-sm"><i class="fa fa-facebook"></i></a>
            <a href="#" class="btn btn-icon btn-rounded btn-twitter bg-empty m-sm"><i class="fa fa-twitter"></i></a>
            <a href="#" class="btn btn-icon btn-rounded btn-gplus bg-empty m-sm"><i class="fa fa-google-plus"></i></a>
          </p>
          <p>
            <a href="#content" data-jump="true" class="btn btn-icon btn-rounded btn-dark b-dark bg-empty m-sm text-muted"><i class="fa fa-angle-up"></i></a>
          </p>
        </div>
        <div class="text-center padder">
            <p>
            <small>RojjaMe Payment Platform<br>&copy; {% now "Y" %}</small>
            </p>
        </div>
      </div>
    </div>
  </footer>

 <!-- / footer -->
 {% block js %}
  <script src="{% static 'note/js/jquery.min.js' %}"></script>
  <!-- Bootstrap -->
  <script src="{% static 'note/js/bootstrap.js' %}"></script>
  <!-- App -->
  <script src="{% static 'note/js/app.js' %}"></script>
  <script src="{% static 'note/js/app.plugin.js' %}"></script>
  <script src="{% static 'note/js/slimscroll/jquery.slimscroll.min.js' %}"></script>
  <script src="{% static 'note/js/appear/jquery.appear.js' %}"></script>
  <script src="{% static 'note/js/scroll/smoothscroll.js' %}"></script>
  <script src="{% static 'note/js/landing.js' %}"></script>

{% endblock %}
</body>
</html>
