{% extends 'pay/index.html' %}
{% load staticfiles %}
{% block content %}
<section id="content">
    <div class="bg-primary dk">
        <div class="text-center wrapper">
            <div class="m-t-xl m-b-xl">
                <div class="text-uc h1 font-bold inline">
                    <div class="pull-left m-r-sm text-white">Send Money to<span class="font-thin text-muted">Nigeria</span></div>
                    <div class="carousel slide carousel-fade inline auto aside text-left pull-left pull-none-sm" data-interval="2000">
                        <div class="carousel-inner">
                            <div class="item active text-warning">
                                Easy
                            </div>
                            <div class="item text-dark">
                                Fast
                            </div>
                            <div class="item">
                                Cheap
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h4 text-muted m-t-sm"><span class="font-thin text-muted h3">You Have Successfully Logged Out.</span></div>
            </div>
            <p class="text-center m-b-xl">
            <a href="/pay" class="btn btn-lg btn-warning b-white bg-empty m-sm">Send Again</a>
            </p>
        </div>
    </div>
   
</section>
{% endblock %}
{% block footer %}
<div class="bg-primary text-center">
    <div class="container wrapper">
       <span class="font-thin text-muted h3">We Enjoyed Your Stay With Us. Please Come Back Very Soon.</span>

    </div>
</div>
{% endblock %}
