{% extends 'pay/register.html' %}
            {% load i18n %}

{% block form_login_logout %}
{% block login_logout %}
<li>
    <div class="m-t-sm"><a href="/register/" class="btn btn-sm btn-success m-l"><strong>Sign Up?</strong></a>  </div>
    
</li>
{% endblock %}

<section id="content">
    <div class="bg-primary dk">
        <section id="content" class="m-t-lg wrapper-md animated fadeInUp">
            <div class="container aside-xxl">
                <a class="navbar-brand block" href="index.html">RojjaMe</a>
                <section class="panel panel-default bg-white m-t-lg">
                    <header class="panel-heading text-center">
                        <strong>Sign In</strong>
                    </header>
                    <div class="form-group">
                        <div class="col-sm-10 text-danger text-center">
                            {% if form.errors and not form.non_field_errors %}
                            <p class="errornote form-control-static">
                            {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                            </p>
                            {% endif %}
                            {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                            <p class="errornote form-control-static">
                            {{ error }}
                            </p>
                            {% endfor %}
                            {% endif %}
                        </div>
                    </div>


				<form action="{{ app_path }}" method="post" id="login-form" class="panel-body wrapper-lg">{% csrf_token %}
				  <div class="form-group">
					{{ form.username.errors }}
					<label for="id_username" class="required control-label">{% trans 'Username' %} </label>
					<input id="id_username" type="text" maxlength="254" placeholder="{% trans 'Username' %}" name="username" class="form-control input-sm" autocomplete="off">
				  </div>
				  <div class="form-group">
					{{ form.password.errors }}
					<label for="id_password" class="required control-label">{% trans 'Password' %}</label>
					<input type="password" id="id_password inputPassword" placeholder="Password" class="form-control input-sm" name="password" value="{{ next }}" autocomplete="off"/>
				  </div>
				  {% url 'admin_password_reset' as password_reset_url %}

				  <div class="pull-right m-t-xs">
					<a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
				  </div>
				  <div class="submit-row">
					<label>&nbsp;</label><button id='sigin' type="submit" class="btn btn-primary">{% trans 'Sign In' %}</button>
				  </div>
				  <div class="line line-dashed"></div>
				  <p class="text-muted text-center"><small>Do not have an account?</small></p>
				  <a href="/register/" id="signup" class="btn btn-default btn-block">Create an account</a>
				</form>
                <script type="text/javascript">
                    document.getElementById('id_username').focus()
                    </script>
                </section>
                </div>
            </section>
        </div>
    </section>

{% endblock %}
