{% extends 'pay/index.html' %}'

{% load i18n %}
{% load staticfiles %}

{% block content %}
{% block form_login_logout %}

{% block login_logout %}

<li>
    <div class="m-t-sm"><a href="/login/" class="btn btn-sm btn-success m-l"><strong>Sign In?</strong></a>  </div>
    
</li>
{% endblock %}





<section id="content">
    <div class="bg-primary dk">
<section id="content" class="m-t-lg wrapper-md animated fadeInUp">
	<div class="container aside-xxl">
		<a class="navbar-brand block" href="index.html">RojjaMe</a>
		<section class="panel panel-default bg-white m-t-lg">
			{% if registered %}
            <header id='registered' class="panel-heading text-center">
				<strong>Fantastic! You're registered</strong>
			</header>

<section id="content">

        <h5 class="text-center text-success">Welcome</h5>
        
        <p class="text-center">Click here to continue to <a href='/pay/' id='send' class="btn btn-s-sm btn-primary btn-rounded">send money</a> </p><br>
        <p class="text-center">or go to your <a href='/pay/' class="text-success">Account</a></p><br>
            <p class="text-center">or go to the <a href={% url 'home' %} class="text-success">Homepage</a></p><br>
</section>

			{% else %}
            <header class="panel-heading text-center">
				<strong>Sign Up</strong>
			</header>
            <p class="errornote">
            <div class="form-group">
                <div class="col-sm-10 text-danger text-center">
                    {% if form.errors and not form.non_field_errors %}
                    <p class="errornote form-control-static">
                    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
                    </p>
                    {% endif %}
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class="errornote form-control-static">
                    {{ error }}
                    </p>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
				<form action="{{ app_path }}" method="post" id="login-form" class="panel-body wrapper-lg" enctype="multipart/form-data">{% csrf_token %}
				  <div class="form-group">
					<label for="id_first_name" class="required control-label">{{ user_form.first_name.label }} </label> 
					<input id="id_first_name" autocomplete="off" type="text" maxlength="254" placeholder="First Name" name="first_name" class="form-control input-sm" required="True">
				  </div>
				  <div class="form-group">
					<label for="id_last_name" class="required control-label">{{ user_form.last_name.label }} </label> 
					<input id="id_last_name" autocomplete="off" type="text" maxlength="254" placeholder="Last Name" name="last_name" class="form-control input-sm" required="True">
				  </div>				  
				  <div class="form-group">
					<label for="id_username" class="required control-label">{{ user_form.username.label }} </label> 
					<input id="id_username" type="text" maxlength="254" autocomplete="off" placeholder="username" name="username" class="form-control input-sm"/>
                        {% if user_form.username.errors %}
                        <div class="alert alert-danger form-control input-sm">{{ user_form.username.errors }}</div>
                        {% endif %}
				  </div>
				  <div class="form-group">
					<label for="id_password" class="required control-label">{% trans 'Password' %}</label>
					<input type="password" autocomplete="off" id="id_password inputPassword" placeholder="Password" class="form-control input-sm" name="password" value="{{ next }}" />
                    {% if user_form.password.errors %}
                    <div class="alert alert-danger form-control input-sm">{{ user_form.password.errors }}</div>
                    {% endif %}
				  </div>
				  <div class="form-group">
					<label for="id_email" class="required control-label">{{ user_form.email.label }} </label> 
					<input id="id_email" type="email" maxlength="254" placeholder="Email" name="email" class="form-control input-sm">
                    {% if user_form.email.errors %}
                    <div class="alert alert-danger form-control input-sm">{{ user_form.email.errors }}</div>
                    {% endif %}
				  </div>
				  <div class="form-group">
					<label for="id_phone" class="required control-label">{{ sender_form.phone.label }} </label> 
					<input id="id_phone" type="text" maxlength="15" placeholder="Phone" name="phone" class="form-control input-sm">
                    {% if sender_form.phone.errors %}
                    <div class="alert alert-danger form-control input-sm">{{ sender_form.phone.errors }}</div>
                    {% endif %}
				  </div>				  

				  <div class="submit-row">
					<label>&nbsp;</label><button id='signup' type="submit" class="btn btn-primary">{% trans 'Sign Up' %}</button>
				  </div>
				  <div class="line line-dashed"></div>
				  <p class="text-muted text-center"><small>Have an account?</small></p>
				  <a href="/login/" class="btn btn-default btn-block">Sign In</a>
				</form>
                {% endif %}
                
                <script type="text/javascript">
                    document.getElementById('id_first_name').focus()
                    </script>
                {% endblock %}
		</section>
	</div>
</section>
</div>
</section>
  <footer id="footer">
    <div class="text-center padder">
      <p>
      <small>RojjaMe Payment Platform<br>&copy; {% now "Y" %}</small>
      </p>
    </div>
  </footer>
{% endblock %}
{% block footer %}
""
{% endblock %}
