{% extends "pay/profile_base.html" %}
{% load staticfiles %}

{% block aside %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'note/js/datatables/jquery.dataTables.min_10.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'note/js/datatables/datatable_bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'note/js/datatables/dataTables.responsive.css' %}" type="text/css" />
{% endblock %}
{% block content %}
<section id="content">
    <section class="vbox">
        <section class="scrollable padder">
            <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
                <li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
                <li class="active">Transactions</li>
            </ul>
            <div class="m-b-md">
                <h3 class="m-b-none"><span>Your Transactions</span> &nbsp;</h3>
            </div>
            <section class="panel panel-default">
                <span class="label label-success">You've Paid - We've Transfered</span>
                <span class="label label-warning">You've Paid - Awaiting Transfer</span>
                <span class="label label-danger">You've not paid or we've not processed</span>
                    
                </header>
                <div class="panel-body">
                <div class="table-responsive">
                    <table class="table display dt-responsive m-b-sm" id="datatables" width="100%">
                        <thead>
                            <tr>
                                <th>Amount</th>
                                <th>Receiver</th>
                                <th>Date (M/D/Y-Time)</th>
                                <th>Reference</th>
                                <th>Paid For?</th>
                                <th>Transfered?</th>
                                <th>Charge</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
                </div>
            </section>
        </section>
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
</section>
<aside class="bg-light lter b-l aside-md hide" id="notes">
    <div class="wrapper">Notification</div>
</aside>
{% endblock %}



{% block extra_js %}
<script>
    $("a[rel=popover]").popover({
            trigger: 'hover'
    });

</script>
<script>
$(document).ready(function() {
  $('#datatables').DataTable( {
     "ajax": "{% url 'json_list' %}",
     "dom": "<'row well well-sm'<'pull-left'f>><t><'row well well-sm'<'col-sm-4'l><'col-sm-4'i><'col-sm-4'p>>",
         "columns": [
             { "data": "amount" },
             { "data": "receiver" },
             { "data": "date" },
             { "data": "charge_id" },
             { "data": "payment" },
             { "data": "transfer_complete" },
             { "data": "charge" },
             ],
     "order": [[ 2, "desc" ]],
     "createdRow": function ( row, data, index ) {
            var paid = $('td', row).eq(4).text();
            var trf = $('td', row).eq(5).text();
        
            if (paid == "Processed" && trf === "Not Yet.") {
                $(row).addClass('warning');
            }
            else if (paid == "Processed" && trf === "Done."){
                $(row).addClass('success');
            }
            else {
                $(row).addClass('danger');
            }
                    
     }

     } );
  } );
</script>
<script src="{% static 'note/js/datatables/jquery.dataTables.min_10.js' %}"></script>
<script src="{% static 'note/js/datatables/dataTables.responsive.js' %}"></script>
<script src="{% static 'note/js/datatables/datatables_bootstrap.js' %}"></script>
{% endblock %}



</body>
</html>
