{% extends "admin/base.html" %}

{% block title %}RojjaMe | Administration{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"> RojjaMe Administration </a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}